<h1>Product Types</h1>
<p class="lead">List of the different Product Type of FoodInc</p>

<% if @product_types.empty? %>
	<h3>No product type in the database</h3>
<% else %>

 <table class="table table-striped">
 	<thead>
	  <tr>
	    <th>Id</th>
	    <th>Nom</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	<% @product_types.each do |product_type| %>
	  <tr>
	  	<th><%= product_type.id%></th>
	  	<th><%= product_type.name%></th>
	    <td><%= link_to 'Details', admin_product_type_path(product_type) %></td>
	    <td><%= link_to 'Edit', edit_admin_product_type_path(product_type) %></td>
	    <td><%= link_to 'Delete', admin_product_type_path(product_type), confirm: 'Are you sure?', method: :delete %></td>
	  </tr>
	<% end %>	
	</tbody>
</table>
<% end %>
<br />

<%= link_to 'New product type', new_admin_product_type_path, :class => 'btn btn-primary btn-large'  %>
