<h1>Type de produit</h1>
<p class="lead">Liste des differents type de produit de FoodInc</p>

<% if @product_types.empty? %>
	<h3>Aucun type de produit enregistré</h3>
<% else %>

 <table class="table table-striped">
 	<thead>
	  <tr>
	    <th>Id</th>
	    <th>Nom</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	<% @product_types.each do |product_type| %>
	  <tr>
	  	<th><%= product_type.id%></th>
	  	<th><%= product_type.name%></th>
	    <td><%= link_to 'Détails', admin_product_type_path(product_type) %></td>
	    <td><%= link_to 'Editer', edit_admin_product_type_path(product_type) %></td>
	    <td><%= link_to 'Supprimer', admin_product_type_path(product_type), confirm: 'Are you sure?', method: :delete %></td>
	  </tr>
	<% end %>	
	</tbody>
</table>
<% end %>
<br />

<%= link_to 'Nouveau type de produit', new_admin_product_type_path, :class => 'btn btn-primary btn-large'  %>
