<%= form_for ([:admin, @restaurant]) do |f| %>
	<% if @restaurant.errors.any? %>
    	<div id="error_explanation">
      		<h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this admin_restaurant from being saved:</h2>
      		<ul>
      		<% @restaurant.errors.full_messages.each do |msg| %>
        		<li><%= msg %></li>
      		<% end %>
      		</ul>
    	</div>
	<% end %>

	<p class="field">
   		<%= f.label :city %>
   		<%= f.text_field :city %>
 	</p>
	<p class="field">
		<%= f.label :is_active %>
   		<%= f.radio_button :is_active, true %> <%= f.label :is_active, "Yes" %>
		<%= f.radio_button :is_active, false %> <%= f.label :is_active, "No" %>
 	</p>
 	<p class="actions">
   		<%= f.submit :class => 'btn btn-primary btn-large' %>
 	</p>
<%end%>