<h1>Restaurants</h1>
<p class="lead">Liste des differents restaurants de FoodInc</p>

<% if @restaurants.empty? %>
	<h3>No restaurant in database</h3>
<% else %>

 <table class="table table-striped">
 	<thead>
 		<tr>
 			<td>ID</td>
 			<td>Nom</td>
 			<td>Ville</td>
 			<td></td>
 			<td></td>
 			<td></td>
 			<td></td>
 		</tr>
 	</thead>
 	<tbody>
	  <% @restaurants.each do |restaurant| %>
	  <tr>
	  	<td><%= restaurant.id%></td>
	  	<td><%= restaurant.name%></td>
	  	<td><%= restaurant.city%></td>
	  	<td><%= link_to 'Serveurs', admin_employees_restaurant_path(restaurant) %></td>
	    <td><%= link_to 'Détails', admin_restaurant_path(restaurant) %></td>
	    <td><%= link_to 'Editer', edit_admin_restaurant_path(restaurant) %></td>
	    <td><%= link_to 'Supprimer', admin_restaurant_path(restaurant), confirm: 'Are you sure?', method: :delete %></td>
	  </tr>
	<% end %>
 	</tbody>
</table>
<% end %>
<br />

<%= link_to 'Nouveau restaurant', new_admin_restaurant_path, :class => 'btn btn-primary btn-large' %>

