<h1>Restaurants</h1>

<% if @admin_restaurants.empty? %>
	<h3>No restaurant in database</h3>
<% else %>

 <table class="table table-striped">
 	<thead>
 		<tr>
 			<td>ID</td>
 			<td>Is active</td>
 			<td>City</td>
 			<td>Creation</td>
 			<td>Update</td>
 			<td></td>
 			<td></td>
 			<td></td>
 		</tr>
 	</thead>
 	<tbody>
	  <% @admin_restaurants.each do |admin_restaurant| %>
	  <tr>
	  	<td><%= admin_restaurant.id%></td>
	  	<td><%= admin_restaurant.is_active%></td>
	  	<td><%= admin_restaurant.city%></td>
	  	<td><%= admin_restaurant.created_at%></td>
	  	<td><%= admin_restaurant.updated_at%></td>
	    <td><%= link_to 'Show', admin_restaurant_path(admin_restaurant) %></td>
	    <td><%= link_to 'Edit', edit_admin_restaurant_path(admin_restaurant) %></td>
	    <td><%= link_to 'Destroy', admin_restaurant_path(admin_restaurant), confirm: 'Are you sure?', method: :delete %></td>
	  </tr>
	<% end %>
 	</tbody>
</table>
<% end %>
<br />

<%= link_to 'New Restaurant', new_admin_restaurant_path, :class => 'btn btn-primary btn-large' %>

