<h1>Restaurants</h1>
<p class="lead">List of the different restaurants of FoodInc</p>

<% if @restaurants.empty? %>
	<h3>No restaurant in database</h3>
<% else %>

 <table class="table table-striped">
 	<thead>
 		<tr>
 			<td>ID</td>
 			<td>Name</td>
 			<td>City</td>
 			<td>Is active</td>
 			<td></td>
 			<td></td>
 			<td></td>
 			<td></td>
 		</tr>
 	</thead>
 	<tbody>
	  <% @restaurants.each do |restaurant| %>
	  <tr>
	  	<td><%= restaurant.id%></td>
	  	<td><%= restaurant.name%></td>
	  	<td><%= restaurant.city%></td>
	  	<td><%= restaurant.is_active %></td>
	  	<td><%= link_to 'Employee', admin_employees_restaurant_path(restaurant) %></td>
	    <td><%= link_to 'Show', admin_restaurant_path(restaurant) %></td>
	    <td><%= link_to 'Edit', edit_admin_restaurant_path(restaurant) %></td>
	    
	    <% if restaurant.is_active %>
	    	<td><%= link_to 'Desactivate', admin_restaurant_desactivate_path(restaurant), confirm: 'Are you sure?' %></td>
	    <% else %>
	    	<td><%= link_to 'Activate', admin_restaurant_activate_path(restaurant), confirm: 'Are you sure?'%></td>
	    <% end %>
	  </tr>
	<% end %>
 	</tbody>
</table>
<% end %>
<br />

<%= link_to 'New Restaurant', new_admin_restaurant_path, :class => 'btn btn-primary btn-large' %>
