<p id="notice"><%= notice %></p>

<h2>Restaurant détails :</h2>

<p>
  <b>Id :</b>
  <%= @restaurant.id %>
</p>

<p>
  <b>Nom :</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Ville :</b>
  <%= @restaurant.city %>
</p>

<p>
  <b>Date de création :</b>
  <%= @restaurant.created_at %>
</p>

<p>
  <b>Date de mise à jour :</b>
  <%= @restaurant.updated_at %>
</p>

<%= link_to 'Editer', edit_admin_restaurant_path(@restaurant) %> |
<%= link_to 'Retour', admin_restaurants_path %>
