<p id="notice"><%= notice %></p>

<h2>Restaurant details :</h2>

<p>
  <b>Id :</b>
  <%= @restaurant.id %>
</p>

<p>
  <b>Name :</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>City :</b>
  <%= @restaurant.city %>
</p>

<p>
  <b>Create date :</b>
  <%= @restaurant.created_at %>
</p>

<p>
  <b>Update date :</b>
  <%= @restaurant.updated_at %>
</p>

<%= link_to 'Edit', edit_admin_restaurant_path(@restaurant) %> |
<%= link_to 'Back', admin_restaurants_path %>
