<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Backoffice</h1>
        <p>Bienvenue sur le backoffice de FoodInc! </p>
        <!-- <p><a class="btn btn-primary btn-large">Learn more »</a></p> -->
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Restaurants</h2>
           <p>Gérez vos restaurants. </p>
          <p><a class="btn" href="<%= admin_restaurants_path %>">Détails »</a></p>
        </div>
        <div class="span4">
          <h2>Serveurs</h2>
           <p>Ici, gérez vos employés. </p>
          <p><a class="btn" href="<%= admin_employees_path %>">Détails »</a></p>
       </div>
        <div class="span4">
          <h2>Tables</h2>
          <p>Ajoutez, modifiez ou supprimez des tables. </p>
          <p><a class="btn" href="<%= admin_tables_path %>">Détails »</a></p>
        </div>
        <!-- <div class="span4">
          <h2>Type de produits</h2>
           <p>Personnalisez vos catégories. </p>
          <p><a class="btn" href="<%= admin_product_types_path %>">Détails »</a></p>
        </div>
        <div class="span4">
          <h2>Items</h2>
           <p>Gérez les entrées, plats, desserts ou boissons. </p>
          <p><a class="btn" href="<%= admin_items_path %>">Détails »</a></p>
        </div>
        <div class="span4">
          <h2>Menus</h2>
           <p>Organisez vos menus. </p>
          <p><a class="btn" href="<%= admin_meals_path %>">Détails »</a></p>
        </div>-->
      </div>

      <hr>

</div>