<h1>Items</h1>
<p class="lead">List of the different items of FoodInc</p>

<% if @items.empty? %>
	<h3>No items in database</h3>
<% else %>

<table class="table table-striped">
	<thead>
		<tr>
		    <th>Id</th>
		    <th>Name</th>
		    <th>Is active</th>
		    <th>Price</th>
		    <th>Time</th>
		    <th>Product type</th>
		    <th></th>
		    <th></th>
		    <th></th>
  		</tr>
	</thead>
	<tbody>
		<% @items.each do |item| %>
		  <tr>
		  	<td><%= item.id%></td>
		  	<td><%= item.name%></td>
		  	<td><%= item.is_active%></td>
		  	<td><%= item.price%></td>
		  	<td><%= item.time%></td>
		  	<td><%= item.product_type.name%></td>
		    <td><%= link_to 'Show', admin_item_path(item) %></td>
		    <td><%= link_to 'Edit', edit_admin_item_path(item) %></td>
		    <% if item.is_active%>
	    		<td><%= link_to 'Desactivate', admin_item_desactivate_path(item), confirm: 'Are you sure?' %></td>
	    	<%else%>
	    		<td><%= link_to 'Activate', admin_item_activate_path(item), confirm: 'Are you sure?'%></td>
	    	<% end %>
		  </tr>
		<%end%>
	</tbody>
</table>
<% end %>
<br />

<%= link_to 'New Item', new_admin_item_path, :class => 'btn btn-primary btn-large'  %>
