<p id="notice"><%= notice %></p>

<h2>Item details :</h2>

<p>
  <b>Id :</b>
  <%= @item.id %>
</p>

<p>
  <b>Name :</b>
  <%= @item.name %>
</p>

<p>
  <b>Is active :</b>
  <%= @item.is_active %>
</p>

<p>
  <b>Description :</b>
  <%= @item.description %>
</p>

<p>
  <b>Price :</b>
  <%= @item.price %>
</p>

<p>
  <b>Time :</b>
  <%= @item.time %>
</p>

<p>
  <b>Product type :</b>
  <%= @item.product_type.name %>
</p>

<p>
  <b>Creation :</b>
  <%= @item.created_at %>
</p>

<p>
  <b>Update :</b>
  <%= @item.updated_at %>
</p>

<%= link_to 'Edit', edit_admin_item_path(@item) %> |
<%= link_to 'Back', admin_items_path %>
