<ul>
<li> id : <%= id %>  </li>
<li> name : <%= name %>  </li>
<li> price : <%= price %> £  </li>
<li> description : <%= description %>  </li>
<li> type de produit : <%= product_type.name %>  </li>
</ul>
</br>