<!DOCTYPE html>
<html>
<head>
  <title>LaFourchette2012</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
	<div class="row">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
		      <div class="container">
		        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		        </a>
		        <a class="brand" href="#">La Fourchette</a>
		        <div class="nav-collapse">
		          <ul class="nav">
		            <li><%= link_to 'Restaurant', admin_restaurants_path %></li>
		            <li><%= link_to 'Employee', admin_employees_path %></li>
		            <li><%= link_to 'Table', admin_tables_path %></li>
		            <li><%= link_to 'Product type', admin_product_types_path %></li>
<<<<<<< HEAD
					<li><%= link_to 'Item', admin_items_path %></li>
=======
		            <li><%= link_to 'Item', admin_items_path %></li>
>>>>>>> b3bacaaf2fdf2f022fb6ecb0811aeb7de08d5ad4
		          </ul>
		        </div><!-- /.nav-collapse -->
		      </div>
		    </div>
		 </div>
		</div>	 
	 <div class="container">
		 <div class="content">
	        <%= yield %>
	      </div>	
	</div>

</body>
</html>
