<!DOCTYPE html>
<html>
<head>
  <title>LaFourchette2012</title>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "styles", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
	<div class="row">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
		      <div class="container">
		        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		        </a>
				<%= link_to 'FoodInc', admin_welcome_url, :class => "brand" %>
		        <div class="nav-collapse">
		          <ul class="nav">
		            <li><%= link_to 'Restaurants', admin_restaurants_path %></li>
		            <li><%= link_to 'Waiters', admin_employees_path %></li>
		            <li><%= link_to 'Tables', admin_tables_path %></li>
		            <li><%= link_to 'Product type', admin_product_types_path %></li>
					<li><%= link_to 'Items', admin_items_path %></li>
					<li><%= link_to 'Meals', admin_meals_path %></li>
		          </ul>
		        </div><!-- /.nav-collapse -->
		      </div>
		    </div>
		 </div>
		</div>	 
	 <div class="container">
		 <div class="content">
	        <%= yield %>
	      </div>	
	</div>

</body>
</html>
