<h1>Meal</h1>
<p class="lead">List of the differents meals of FoodInc</p>

<% if @meals.empty? %>
	<h3>No meal in database</h3>
<% else %>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Is active</th>
	<th></th>
    <th></th>
    <th></th>
  </tr>

<% @meals.each do |meal| %>
  <tr>
    <td><%= meal.name %></td>
    <td><%= meal.price %></td>
    <td><%= meal.is_active %></td>
	<td><%= link_to 'Details', admin_meal_path(meal) %></td>
    <td><%= link_to 'Edit', edit_admin_meal_path(meal) %></td>
    
    <% if meal.is_active %>
    	<td><%= link_to 'Desactivate', admin_meal_desactivate_path(meal), confirm: 'Are you sure?' %></td>
    <% else %>
    	<td><%= link_to 'Activate', admin_meal_activate_path(meal), confirm: 'Are you sure?'%></td>
    <% end %>
  </tr>
<% end %>
</table>
<% end %>
<br />

<%= link_to 'New meal', new_admin_meal_path, :class => 'btn btn-primary btn-large' %>


