<h1>Menus</h1>
<p class="lead">Liste des differents menus de FoodInc</p>

<% if @meals.empty? %>
	<h3>Aucun menu enregistré</h3>
<% else %>

<table class="table table-striped">
  <tr>
    <th>Nom</th>
    <th>Prix</th>
    <th>Is active</th>
	<th></th>
    <th></th>
    <th></th>
  </tr>

<% @meals.each do |meal| %>
  <tr>
    <td><%= meal.name %></td>
    <td><%= meal.price %></td>
    <td><%= meal.is_active %></td>
	<td><%= link_to 'Détails', admin_meal_path(meal) %></td>
    <td><%= link_to 'Editer', edit_admin_meal_path(meal) %></td>
    <td><%= link_to 'Supprimer', admin_meal_path(meal), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<% end %>
<br />

<%= link_to 'Nouveau menu', new_admin_meal_path, :class => 'btn btn-primary btn-large' %>


