<p id="notice"><%= notice %></p>

<p>
  <b>Is active : </b>
  <%= @meal.is_active %>
</p>

<p>
  <b>Name : </b>
  <%= @meal.name %>
</p>

<p>
  <b>Price : </b>
  <%= @meal.price %>
</p>


<%= link_to 'Edit', edit_admin_meal_path(@meal) %> |
<%= link_to 'Back', admin_meals_path %>
