<div id="wrapper" class="grid clearfix">
	
	<h1 class="grid-4">Element Envoye</h1>

	<% if @elements_envoye.empty? %>
		<h3 class="grid-4">No element envoye for the moment</h3>
	<% else %>
		<ol class="repos">
		<% @elements_envoye.each do |element| %>
			<li class="repo grid-1">
			<%= link_to staff_kitchen_accept_path(element) do %>
				<h2><%= element.item.name %></h2>
				<h3>Order n°: <%= element.order.id %></h3>
			<% end %>
			</li>
	   <% end %>
	   </ol>
	<%end%>

	<h1 class="grid-4">Element Accepte</h1>

	<% if @elements_accepte.empty? %>
		<h3 class="grid-4">No element accepte for the moment</h3>
	<% else %>	
		<ol class="repos">
		<% @elements_accepte.each do |element| %>
			<li class="repo grid-1">
			<%= link_to staff_kitchen_cooked_path(element) do %>
				<h2><%= element.item.name %></h2>
				<h3>Order n°: <%= element.order.id %></h3>
			<% end %>
			</li>
	   <% end %>
	   </ol>
	<%end%>

</div>