<%= form_for(@admin_table) do |f| %>

<% javascript '/javascripts/dynamic_employee' %>


  <% if @admin_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_table.errors.count, "error") %> prohibited this admin_table from being saved:</h2>

      <ul>
      <% @admin_table.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p class="field">
   		<%= f.label :is_active %>
   		<%= f.text_field :is_active %>
 	</p>
 	
 	<p class="field">
   		<%= f.label :is_available %>
   		<%= f.text_field :is_available %>
 	</p>
 	
 	<p class="field">
   		<%= f.label :nb_seat %>
   		<%= f.text_field :nb_seat %>
 	</p>
 	
 	<p class="field">
   		<%= f.label :numero_table %>
   		<%= f.text_field :numero_table %>
 	</p>
 	
 	<p class="restaurant_field">
   		<label for="table_restaurant_id">Restaurant</label>
   		<%= collection_select(:admin_table, :restaurant_id, restaurant, :id, :city, { :prompt => 'select a restaurant'}) %>
 	</p>
 	
 	<p class="employee_field">
 		<label for="table_employee_id">Employee</label>
   		<%= collection_select(:admin_table, :employee_id, employee, :id, :username, { :prompt => 'select an employee'}) %>
 	</p>

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary btn-large' %>
  </div>
<% end %>
