<h1>Tables</h1>
<p class="lead">Liste des differentes tables de FoodInc</p>

<% if @tables.empty? %>
	<h3>Aucune table enregistré</h3>
<% else %>


<table class="table table-striped">
	<thead>
		<tr>
			<td>ID</td>
			<td>Is active</td>
			<td>Disponible</td>
			<td>Nb de sièges</td>
			<td>Num de table</td>
			<td>Serveur</td>
			<td>Restaurant</td>
			<td></td>
			<td></td>
			<td></td>
	    </tr>
	</thead>
	<tbody>
		<% @tables.each do |table| %>
		  <tr>
		  	<td><%= table.id%></td>
			<td><%= table.is_active%></td>
			<td><%= table.is_available%></td>
			<td><%= table.nb_seat%></td>
			<td><%= table.number_table%></td>

			<% if table.employee != nil %>
				<td><%= table.employee.username %></td>
			<% else %>
				<td>no employee assigned</td>
			<% end %>
			<% if table.restaurant != nil %>
				<td><%= table.restaurant.name %></td>
			<% else %>
				<td>no restaurant assigned</td>
			<% end %>
		    <td><%= link_to 'Détails', admin_table_path(table) %></td>
		    <td><%= link_to 'Editer', edit_admin_table_path(table) %></td>
		  	<% if table.is_active%>
	    		<td><%= link_to 'Désactiver', admin_table_desactivate_path(table), confirm: 'Etes-vous sûr?' %></td>
	    	<%else%>
	    		<td><%= link_to 'Activer', admin_table_activate_path(table), confirm: 'Etes-vous sûr?'%></td>
	    	<% end %>
		  </tr>
		<% end %>
	</tbody>
</table>
<% end %>
<br />

<%= link_to 'Ajouter une table', new_admin_table_path, :class => 'btn btn-primary btn-large' %>
