<h1>Tables</h1>
<p class="lead">List of the different tables of FoodInc</p>

<% if @tables.empty? %>
	<h3>No tables in database</h3>
<% else %>


<table class="table table-striped">
	<thead>
		<tr>
			<td>ID</td>
			<td>Is active</td>
			<td>Available</td>
			<td>Nb of seat</td>
			<td>Table nb</td>
			<td>Employee</td>
			<td>Restaurant</td>
			<td></td>
			<td></td>
			<td></td>
	    </tr>
	</thead>
	<tbody>
		<% @tables.each do |table| %>
		  <tr>
		  	<td><%= table.id%></td>
			<td><%= table.is_active%></td>
			<td><%= table.is_available%></td>
			<td><%= table.nb_seat%></td>
			<td><%= table.number_table%></td>
			<% if table.employee != nil %>
				<td><%= table.employee.username %></td>
			<% else %>
				<td>no employee assigned</td>
			<% end %>
			<% if table.restaurant != nil %>
				<td><%= table.restaurant.name %></td>
			<% else %>
				<td>no restaurant assigned</td>
			<% end %>
		    <td><%= link_to 'Show', admin_table_path(table) %></td>
		    <td><%= link_to 'Edit', edit_admin_table_path(table) %></td>
		  	<% if table.is_active%>
	    		<td><%= link_to 'Desactivate', admin_table_desactivate_path(table), confirm: 'Are you sure?' %></td>
	    	<%else%>
	    		<td><%= link_to 'Activate', admin_table_activate_path(table), confirm: 'Are you sure?'%></td>
	    	<% end %>
		  </tr>
		<% end %>
	</tbody>
</table>
<% end %>
<br />

<%= link_to 'New Table', new_admin_table_path, :class => 'btn btn-primary btn-large' %>
