<p id="notice"><%= notice %></p>

<h2>Table détails :</h2>

<p>
  <b>Id :</b>
  <%= @table.id %>
</p>

<p>
  <b>Is active :</b>
  <%= @table.is_active %>
</p>

<p>
  <b>Disponible :</b>
  <%= @table.is_available %>
</p>

<p>
  <b>Nombre de siège :</b>
  <%= @table.nb_seat %>
</p>

<p>
  <b>Numéro de table :</b>
  <%= @table.number_table %>
</p>

<p>
  <b>Serveur :</b>
  <% if @table.employee != nil %>
	<%= @table.employee.username %>
  <% else %>
	no employee assigned
  <% end %>
</p>

<p>
  <b>Restaurant :</b>
  <% if @table.restaurant != nil %>
	<%= @table.restaurant.name %>
  <% else %>
	no restaurant assigned
  <% end %>
</p>

<p>
  <b>Date de création :</b>
  <%= @table.created_at %>
</p>

<p>
  <b>Mise à jour :</b>
  <%= @table.updated_at %>
</p>


<%= link_to 'Editer', edit_admin_table_path(@table) %> |
<%= link_to 'Retour', admin_tables_path %>
