<p id="notice"><%= notice %></p>

<h2>Table details :</h2>

<p>
  <b>Id :</b>
  <%= @table.id %>
</p>

<p>
  <b>Is active :</b>
  <%= @table.is_active %>
</p>

<p>
  <b>Available :</b>
  <%= @table.is_available %>
</p>

<p>
  <b>Number of seat :</b>
  <%= @table.nb_seat %>
</p>

<p>
  <b>Table number :</b>
  <%= @table.number_table %>
</p>

<p>
  <b>Employee :</b>
  <% if @table.employee != nil %>
	<%= @table.employee.username %>
  <% else %>
	no employee assigned
  <% end %>
</p>

<p>
  <b>Restaurant :</b>
  <% if @table.restaurant != nil %>
	<%= @table.restaurant.name %>
  <% else %>
	no restaurant assigned
  <% end %>
</p>

<p>
  <b>Creation :</b>
  <%= @table.created_at %>
</p>

<p>
  <b>Update :</b>
  <%= @table.updated_at %>
</p>


<%= link_to 'Edit', edit_admin_table_path(@table) %> |
<%= link_to 'Back', admin_tables_path %>
