<p id="notice"><%= notice %></p>

<h2>Table details :</h2>

<p>
  <b>Id :</b>
  <%= @admin_table.id %>
</p>

<p>
  <b>Is active :</b>
  <%= @admin_table.is_active %>
</p>

<p>
  <b>Available :</b>
  <%= @admin_table.is_available %>
</p>

<p>
  <b>Number of seat :</b>
  <%= @admin_table.nb_seat %>
</p>

<p>
  <b>Table number :</b>
  <%= @admin_table.numero_table %>
</p>

<p>
  <b>Employee :</b>
  <%= @admin_table.employee_id %>
</p>

<p>
  <b>Restaurant :</b>
  <%= @admin_table.restaurant_id %>
</p>

<p>
  <b>Creation :</b>
  <%= @admin_table.created_at %>
</p>

<p>
  <b>Update :</b>
  <%= @admin_table.updated_at %>
</p>


<%= link_to 'Edit', edit_admin_table_path(@admin_table) %> |
<%= link_to 'Back', admin_tables_path %>
