<%= form_for([:admin, @employee]) do |f| %>

  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this admin_employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p class="field">
   		<%= f.label :username %>
   		<%= f.text_field :username %>
 	</p>
 	
 	<p class="field">
   		<%= f.label :password %>
   		<%= f.password_field :password %>
 	</p>

	<p>
		<label>Password Confirmation: </label>
		<%= f.password_field :password_confirmation %>
	</p>
 	
 	<p class="field">
 		<%= f.label :restaurant_id%>
 		<%= collection_select(:employee, :restaurant_id, restaurant, :id, :city, { :prompt => 'select a restaurant'}) %>
 	</p>


  <p class="actions">
    <%= f.submit :class => 'btn btn-primary btn-large'  %>
  </p>
<% end %>
