<%= form_for([:admin, @admin_employee]) do |f| %>
  <% if @admin_employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_employee.errors.count, "error") %> prohibited this admin_employee from being saved:</h2>

      <ul>
      <% @admin_employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p class="field">
   		<%= f.label :username %>
   		<%= f.text_field :username %>
 	</p>
 	
 	<p class="field">
   		<%= f.label :password %>
   		<%= f.text_field :password %>
 	</p>
 	
 	<p class="field">
   		<%= f.label :restaurant %>
   		<%= f.text_field :restaurant_id %>
 	</p>


  <p class="actions">
    <%= f.submit :class => 'btn btn-primary btn-large'  %>
  </p>
<% end %>
