<%= form_for([:admin, @employee]) do |f| %>

  <% if @employee.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
	  <button type="button" class="close" data-dismiss="alert">×</button>
      <h4 class="alert-heading"><%= pluralize(@employee.errors.count, "error") %> prohibited this admin_employee from being saved:</h4>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p class="field">
   		<%= f.label :username %>
   		<%= f.text_field :username %>
 	</p>
 	
 	<p class="field">
   		<%= f.label :password %>
   		<%= f.password_field :password %>
 	</p>

	<p>
		<label>Password Confirmation: </label>
		<%= f.password_field :password_confirmation %>
	</p>
 	
 	<p class="field">
<<<<<<< HEAD
 		<%= f.label :restaurant_id%>
 		<%= collection_select(:employee, :restaurant_id, restaurant, :id, :city, { :prompt => 'select a restaurant'}) %>
=======
 		<%= f.label :restaurant_id %>
 		<%= collection_select(:employee, :restaurant_id, restaurant, :id, :name, { :prompt => 'Select a restaurant'}) %>
>>>>>>> 09660540827d373bf3bed5933fc66f691003d073
 	</p>


  <p class="actions">
    <%= f.submit :class => 'btn btn-primary btn-large'  %>
  </p>
<% end %>
