<h1>Waiters by Restaurant</h1>

<% if @employees.empty? %>
	<h3>No waiter in database</h3>
<% else %>

<table class="table table-striped">
	<thead>
		<tr>
			<td>ID</td>
			<td>Username</td>
			<td>Restaurant</td>
			<td>Is active</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<% @employees.each do |employee| %>
		<tr>
			<td><%= employee.id%></td>
			<td><%= employee.username%></td>
			<td><%= employee.restaurant_id%></td>
			<td><%= employee.is_active %></td>
		    <td><%= link_to 'Details', admin_employee_path(employee) %></td>
		    <td><%= link_to 'Edit', edit_admin_employee_path(employee) %></td>
		    <% if employee.is_active %>
		    	<td><%= link_to 'Desactivate', admin_employee_desactivate_path(employee), confirm: 'Are you sure?' %></td>
		    <% else %>
		    	<td><%= link_to 'Activate', admin_employee_activate_path(employee), confirm: 'Are you sure?' %></td>
		    <% end %>
	    </tr>
	   <% end %>
	</tbody>
</table>
<%end%>
<br />

<%= link_to 'New waiter', new_admin_employee_path, :class => 'btn btn-primary btn-large' %>
