<p id="notice"><%= notice %></p>

<h2>Employee details :</h2>

<p>
  <b>Id :</b>
  <%= @admin_employee.id %>
</p>

<p>
  <b>Username :</b>
  <%= @admin_employee.username %>
</p>

<p>
  <b>Password :</b>
  <%= @admin_employee.password %>
</p>

<p>
  <b>Restaurant :</b>
  <%= @admin_employee.restaurant_id %>
</p>

<p>
  <b>Creation :</b>
  <%= @admin_employee.created_at %>
</p>

<p>
  <b>Update :</b>
  <%= @admin_employee.updated_at %>
</p>

<%= link_to 'Edit', edit_admin_employee_path(@admin_employee) %> |
<%= link_to 'Back', admin_employees_path %>
