<p id="notice"><%= notice %></p>

<h2>Employee details :</h2>

<p>
  <b>Id :</b>
  <%= @employee.id %>
</p>

<p>
  <b>Username :</b>
  <%= @employee.username %>
</p>

<p>
  <b>Restaurant :</b>
  <% if @employee.restaurant != nil %>
	<%= @employee.restaurant.name %>
  <% else %>
	no employee assigned
  <% end %>
</p>

<p>
  <b>Creation :</b>
  <%= @employee.created_at %>
</p>

<p>
  <b>Update :</b>
  <%= @employee.updated_at %>
</p>

<%= link_to 'Edit', edit_admin_employee_path(@employee) %> |
<%= link_to 'Back', admin_employees_path %>
