<p id="notice"><%= notice %></p>

<h2>Serveurs détails :</h2>

<p>
  <b>Id :</b>
  <%= @employee.id %>
</p>

<p>
  <b>Username :</b>
  <%= @employee.username %>
</p>

<p>
  <b>Restaurant :</b>
  <% if @employee.restaurant != nil %>
	<%= @employee.restaurant.name %>
  <% else %>
	no employee assigned
  <% end %>
</p>

<p>
  <b>Date de création :</b>
  <%= @employee.created_at %>
</p>

<p>
  <b>Date de mise à jour :</b>
  <%= @employee.updated_at %>
</p>

<%= link_to 'Editer', edit_admin_employee_path(@employee) %> |
<%= link_to 'Retour', admin_employees_path %>
