<h1>Index tables</h1>

<p id="notice">
	<%= notice %>
</p>
<br />

<!--<%= link_to 'New Table', new_table_path %>-->


<%= form_for @table, :url => { :action => "initTable" } do |f|%>
	<div class="field">
		<%= f.label "Choix number table"%>
		<%= collection_select(:table, :id, @tables, :id, :number_table, { :prompt => 'Select a table'}) %>
	</div>
  	<div><%= f.submit 'Envoyer' %></div>
<% end -%>
