<h1>Index tables</h1>

<p id="notice">
	<%= notice %>
</p>
<br />

<!--<%= link_to 'New Table', new_table_path %>-->


<%= form_for @table, :url => { :action => "initTable" } do |f|%>
	<%= f.label :table_id %>
  	<%= f.text_field 'table' %>
  	<div><%= f.submit 'Envoyer' %></div>
<% end -%>

