<p id="notice">
	<%= notice %>
</p>

<div style="margin-bottom: 50px">
	Id:
	<%= @table.id %>
	<br/>

	active:
	<%= @table.is_active %>
	<br/>

	available:
	<%= @table.is_available %>
	<br/>

	nb_seat:
	<%= @table.nb_seat %>
	<br/>

	numero_table:
	<%= @table.numero_table %>
	<br/>

	employee_id:
	<%= @table.employee_id %>
	<br/>

	restaurant_id:
	<%= @table.restaurant_id %>
	<br/>
</div>

<h1>Choix des menus</h1>
<!--
<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>-->
